@model RecuperarPasswordViewModel
@{
    ViewData["Title"] = "Resetea tu password";
}

<h1>Resetea tu password</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="RecuperarPassword">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="CodigoReseteo" />

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <button class="btn btn-primary">Resetear</button>
        </form>
    </div>
</div>
